[submodule "impakta"]
	path = impakta
	url = git@git.vauxoo.com:vauxoo/impakta.git
	branch = 17.0
[submodule "sale-reporting"]
	path = sale-reporting
	url = git@github.com:Vauxoo/sale-reporting.git
	branch = 17.0
[submodule "sale-engineering"]
	path = sale-engineering
	url = git@git.vauxoo.com:vauxoo/sale-engineering.git
	branch = 17.0
[submodule "addons-vauxoo"]
	path = addons-vauxoo
	url = git@github.com:Vauxoo/addons-vauxoo.git
	branch = 17.0
